<div class="row justify-content-center">
	<div class="col">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="d-none d-sm-table-cell">ชื่อ</th>
					<th>ชื่อแสดง</th>
					<th class="text-center">น้ำหนัก</th>
					<th class="text-center d-none d-sm-table-cell">Multiple</th>
					<th>สถานะ</th>
					<th class="d-none d-sm-table-cell">json</th>
					<th class="text-right"><a class="btn btn-secondary" href="{{path_to_core}}profile/column-insert.php">เพิ่ม</a></th>
				</tr>
			</thead>
			{{list}}
		</table>
	</div>
</div>
