<form method="post">
<div class="row justify-content-center pb-0 mb-0">
	<div class="col-md-8">
		<div class="row justify-content-center pb-0 mb-0">
			<div class="form-group col-3">
				ชื่อใน DB:
			</div>
			<div class="form-group col">
				<input type="text" value="{{name}}" name="name" class="form-control" placeholder="name">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center pb-0 mb-0">
	<div class="col-md-8">
		<div class="row justify-content-center pb-0 mb-0">
			<div class="form-group col-3">
				ชื่อแสดง:
			</div>
			<div class="form-group col">
				<input type="text" value="{{name_show}}" name="name_show" class="form-control" placeholder="ชื่อ">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center pb-0 mb-0">
	<div class="col-md-8">
		<div class="row justify-content-center pb-0 mb-0">
			<div class="form-group col-3">
				น้ำหนัก:
			</div>
			<div class="form-group col">
				<input type="text" value="{{weight}}" name="weight" class="form-control number" placeholder="50">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center pb-0 mb-0">
	<div class="col-md-8">
		<div class="row justify-content-center pb-0 mb-0">
			<div class="form-group col-3">
				Multiple:
			</div>
			<div class="form-group col">
				<select name="multiple" class="form-control">
					<option value="0" {{multiple_option_0}}>ปิด</option>
					<option value="1" {{multiple_option_1}}>เปิด</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center pb-0 mb-0">
	<div class="col-md-8">
		<div class="row justify-content-center pb-0 mb-0">
			<div class="form-group col-3">
				json:
			</div>
			<div class="form-group col">
				<input type="text" value="{{json}}" name="json" class="form-control" placeholder="{&quot;type&quot;:&quot;number&quot;}">
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="row justify-content-center {{active_css}}">
			<div class="form-group col-3">
				สถานะ:
			</div>
			<div class="form-group col">
				<select name="active" class="form-control">
					<option value="1" {{acive_option_1}}>เปิด</option>
					<option value="0" {{acive_option_0}}>ปิด</option>
				</select>
			</div>
		</div>
		<hr class="colorgraph">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="row justify-content-center">
			<div class="form-group col-4">
				<input type="submit" class="btn btn-primary btn-block" value="ส่งข้อมูล" >
			</div>
		</div>
	</div>
</div>
</form>