<form method="post">
	<div class="row justify-content-center">
		<div class="col-md-7">
			{{profile-list}}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-7 text-center">
			<hr class="colorgraph">
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-4">
			<input class="btn btn-primary w-100" type="submit" value="ส่งข้อมูล">
		</div>
	</div>
</form>
<script>
$(function(){
	$('body').on('click tap','.plus-column',function(){
		var the_parent = $(this).parent().parent();
		var the_input = the_parent.find('input').filter(':visible:first');
 		var the_label = the_parent.find('a').filter(':visible:first');
 		var the_label_parent = the_label.parent();

		if(!$('a.minus-column-from-plus',the_label_parent).length){
			the_label_parent.append(' <a class="minus-column-from-plus" href="javascript:;" style="position:relative; top:3px;"><i class="far fa-minus-square"></i></a>');
		}
 		var the_input_parent = the_input.parent().parent();

 		var the_multiple_template = $('.multiple-template',the_input_parent).html();
		if(!the_multiple_template){
			
			var column_id = $('input',the_input_parent).data('column_id');
			var the_multiple_template_prep = $('input',the_input_parent).clone().attr('name','profile_multiples['+column_id+'][]').attr('value','');	
			the_multiple_template = '<div class="multiple-template"><div class="mt-3"></div>';
			the_multiple_template = $(the_multiple_template).append(the_multiple_template_prep);
			$('input',the_multiple_template).val("");
		}
 		the_input_parent.append(the_multiple_template);
	});
	$('body').on('click tap','.minus-column',function(){
		var the_parent = $(this).closest('.multiple-input-wrapper');
		var the_input = the_parent.find('input').filter(':visible:first');
		var value_id = the_input.data('value_id');
		the_input.attr('name','profile_multiple_deletes[]').attr('value',value_id);
		the_parent.hide();
	});
	$('body').on('click tap','.minus-column-from-plus',function(){
		var the_parent = $(this).parent().parent();
		the_parent.find('input').filter(':visible:last').remove();
		if(the_parent.find('input').length < 2){
			the_parent.find('.multiple-template').remove();
			$(this).remove();
		}
	});
});
</script>
