<tr class="text-white">
	<td class="d-none d-sm-table-cell">{{name}}</td>
	<td>{{name_show}}</td>
	<td class="text-center">{{weight}}</td>
	<td class="text-center d-none d-sm-table-cell">{{multiple}}</td>
	<td>{{active}}</td>
	<td class="d-none d-sm-table-cell">{{json}}</td>
	<td class="text-right">
		<a class="btn btn-info m-1" href="{{path_to_core}}profile/column-edit.php?id={{id}}">แก้ไข</a>
	</td>
</tr>